<div>

	<div class="todo-list" 
			ev-on="'add item' : items.indexOf($data) === -1 ? items.push($data) : void()\; $broadcast('item added');
				   'remove item' : items.splice($data, 1);
				   'sort items' : items.sort();
				   'reset items' : items = [ 'Item 1', 'Item 2', 'Item 3', 'Item 4' ]"
			ev-init="'reset items'"
			ev-when="items.length > 5 : 'warning'">

		<h3>My TO-DO list</h3>

		<div ev-on="'warning': showWarning=true" ng-show="showWarning" class="alert alert-warning">
			TO-DO list now has more than 5 elements
		</div>

		<ul>
			<li ng-repeat="item in items">
				{{item}}
				<a ev-as="'click' : 'remove item', $index">Eliminar</a>
			</li>
		</ul>

		<p>Actions: 
			<button type="button" ev-as="'click': 'sort items'">Sort</button>
			<button type="button" ev-as="'click': 'reset items'">Reset</button>
		</p>

		<form ev-as="'submit': 'add item', newItem"
			  ev-on="'item added': newItem = ''">
			<div>
				<input type="text" ng-model="newItem" placeholder="New item.." required />
				<button type="submit">Add item</button>
			</div>
		</form>

		<button type="button" ev-replace="'click': 'greet user'">Say hi</button>
	</div>

	<div id="login" ev-echo="'login'">

		<div isolated-scope ev-on="'login': formData = $data\; counter = counter + 1" ng-show="formData">
			Got echoed 'login' event with data {{formData}} - {{counter}} times
		</div>

		<div isolated-scope>
			<login-form ev-replace="
					'submit': 'login', $data;
					'login error': 'error';
					'login success': 'success';"
				ev-init="'populate': { 'email'\: 'someone@gmail.com' }">
			</login-form>
		</div>
	</div>


	<div id="target" style="overflow: scroll; width: 200px; height: 100px;"
		ev-replace="'scroll': 'greet user'">
	  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
	  sed do eiusmod tempor incididunt ut labore et dolore magna
	  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
	  ullamco laboris nisi ut aliquip ex ea commodo consequat.
	  Duis aute irure dolor in reprehenderit in voluptate velit
	  esse cillum dolore eu fugiat nulla pariatur. Excepteur
	  sint occaecat cupidatat non proident, sunt in culpa qui
	  officia deserunt mollit anim id est laborum.
	</div>

	<div ev-on="'image loaded': imageLoaded=true">
		<p ng-show="imageLoaded">Image successfully loaded!</p>
		<img width="200" ng-src="http://www.noaanews.noaa.gov/stories/images/goes-12-firstimage-large081701.jpg" ev-as="'load': 'image loaded'" >
	</div>
</div>